[flake8]
max_line_length = 90
ignore = D100, D101, D102, D103, D104, D105, D106, D107, S301, S403
exclude =
    .git*,
    .venv,
    dist/,
    *.egg-info/,
    __pycache__,
    setup.py
    config.json
